{% extends 'dashboard/base.html' %}
{% load static %}
  {% block content %}
  <script src="{% static 'js/jquery.min.js'%}"></script>
  <script src="{% static 'js/timeago.js'%}"></script>

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/">
          <i class="bi bi-grid"></i>
          <span>TABLEAU DE BORD</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>FICHES</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/etablishment/new" id="nf">
              <i class="bi bi-circle"></i><span>Nouvelle Fiche</span>
            </a>
          </li>
          <li>
            <a href="/etablishment/list/pro/" id='lf'>
              <i class="bi bi-circle"></i><span>Liste</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>ABONNEMENTS</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="#" class="active" id="na">
              <i class="bi bi-circle"></i><span>Nouvel Abonnenment</span>
            </a>
          </li>
          <li>
            <a href="/subscription/list/pro/" id="la">
              <i class="bi bi-circle"></i><span>Liste</span>
            </a>
          </li>
          <li>
            <a href="/payments/pro/{{user.id}}" id='tr'>
              <i class="bi bi-circle"></i><span>Transactions</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-envelope"></i><span>MESSAGES</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="#" id='mails'>
              <i class="bi bi-circle"></i><span>Mails</span>
            </a>
          </li>
          <li>
            <a href="#" id="notif">
              <i class="bi bi-circle"></i><span>Notifications</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->

      

      

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" id='prof'>
          <i class="bi bi-person"></i>
          <span>Profil</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" id='faq'>
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" id="cgv">
          <i class="bi bi-question-circle"></i>
          <span>C.G.V</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" id="cgu">
          <i class="bi bi-question-circle"></i>
          <span>C.G.U</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>TABLEAU DE BORD</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Méssages</a></li>
          <li class="breadcrumb-item active">E-mails</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    {% comment %} CONTENU {% endcomment %}

    {% if msg %}
      {% if "SUCCES" in msg %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle me-1"></i>{{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% else %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-octagon me-1"></i>{{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
    {% endif %}

    {% comment %} DEBUT CONTENU {% endcomment %}
    <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Recent Sales -->
            <div class="col-12">
                <div class="card recent-sales overflow-auto">

                <div class="card-body">
                    <h5 class="card-title">E-mails <span>| Vos e-mails de contacts ou de visites sur IGOguide s'afficheront ici</span></h5>

                    <table class="table table-borderless datatable">
                    <thead>
                        <tr>
                        <th scope="col">Clients</th>
                        {% comment %} <th scope="col">Clients</th> {% endcomment %}
                        <th scope="col">Objets</th>
                        <th scope="col">Dates</th>
                        <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for email in emails %}
                        <tr style="">
                          <td>{{ email.email }}</td>
                          {% comment %} <td><a href="#" class="text-primary">At praesentium minu</a></td> {% endcomment %}
                          <td>{{ email.subject }}</td>
                          <td>{{ email.createdAt }}</td>
                          <td>
                            <a style="text-decoration:none;cursor:pointer" id="msgbtn{{ email.id }}">
                              <span data-num="{{ email.id }}" class="badge bg-{% if email.isOpened %}warning{% else %}success{% endif%}">{% if email.isOpened %}Lu{% else %}Non Lu{% endif%}</span>
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                        
                    </tbody>
                    </table>

                </div>

                </div>
            </div><!-- End Recent Sales -->
        </div>
    </div>

       <!-- Right side columns -->
       <div class="col-lg-4">

        <!-- Recent Activity -->
        <div class="card">

          <div class="card-body">
            <h5 class="card-title">:-) <span>| Cliquez sur un e-mail pour assicher son contenu !</span></h5>

            <div class="activity">

              <div class="activity-item d-flex">
                {% comment %} <div class="activite-label">32 min</div> {% endcomment %}
                {% comment %} <img  src="" class='align-self-start'/> {% endcomment %}
                <img src="" alt="Profil" id="msguserimg" class="rounded-circle" style="max-width:4Opx;height:50px">
                <div class="activity-content col-12" style="width:100%;margin-left:10px" >
                  <h4 id="msguser" style="font-size:18px">Aucun message sélectionné!</h4>
                  <h5 id="msgemail" style="font-size:14px"></h5>
                </div>
              </div><!-- End activity item-->
              {% comment %} <li class="message-item"> {% endcomment %}
                {% comment %} <a href="#"> {% endcomment %}
                  {% comment %} <img src="dashboard/assets/img/messages-3.jpg" alt="" class="rounded-circle"> {% endcomment %}
                  <div>
                    <h4 id="obj"></h4>
                    <p id="message"></p>
                    <p id='tsince'></p>
                  </div>
                {% comment %} </a> {% endcomment %}
              {% comment %} </li> {% endcomment %}

            </div>

          </div>
        </div><!-- End Recent Activity -->
    </div>
    {% comment %} FIN DU CONTENU {% endcomment %}

    
    <script>
      $(window).on('load',function(){
        for(let e of document.querySelectorAll('.badge')){
          e.addEventListener('click',function(){
            console.log(e.dataset.num)
            e.classList.remove('bg-success')
            e.classList.add('bg-warning')
            e.textContent='Lu'
            $.ajax({
              type:'GET',
              url:'/mails/'+e.dataset.num,
              data:{},
              success: function(data){
                document.getElementById('msguserimg').src=data.fromUser.image;
                document.getElementById('msguser').textContent=data.fromUser.FName+' '+data.fromUser.LName;
                document.getElementById('msgemail').textContent=data.fromUser.Email;
                document.getElementById('obj').textContent=data.subject;
                document.getElementById('message').textContent=data.message;
                document.getElementById('tsince').textContent=data.createdAt;
              },
            })
          })
        }
      })
    </script>

    <script>
      $(window).on('load',function(){
        var uid;
        var nf=document.querySelector('#nf')
        var lf=document.querySelector('#lf')
        var na=document.querySelector('#na')
        var la=document.querySelector('#la')
        var tr=document.querySelector('#tr')
        var mails=document.querySelector('#mails')
        var notif=document.querySelector('#notif')
        var prof=document.querySelector('#prof')
        var faq=document.querySelector('#faq')
        var cgv=document.querySelector('#cgv')
        var cgu=document.querySelector('#cgu')
        //var profile_link=document.querySelector('#prolink')
        uid = localStorage.getItem('userid');
        $.ajax(
        {
          type:"GET",
          url: "/users/pro/"+uid,
          data:{
                   //post_id: catid
          },
          success: function( data ) 
          {
            console.log(data);
            nf.href='/etablishment/new';
            lf.href='/etablishment/list/pro/'+data.id;
            na.href="/subscription/new"
            la.href='/subscription/list/pro/'+data.id;
            tr.href='/payments/pro/'+data.id;
            mails.href='/mails/pro/'+data.id;
            notif.href='/notifications/pro/'+data.id;
            prof.href='/profile/pro/'+data.id;
            faq.href='/faq';
            cgv.href='/cgv';
            cgu.href='/cgu';
          }
        })
      }
    );
  </script>
  <script>
    $(window).on('load',function(){
      $.ajax({
        type:'GET',
        url:'/etablishment/get/pro/'+localStorage.getItem('userid'),
        data:{
          //post_id: catid
        },
        success: function( data ){
          for(let e of data){
            //console.log(JSON.parse(data))
            var opt = document.createElement("option");
            opt.value = e.id;
            opt.text = e.name;
            //select.appendChild(opt);
            $('#inputState').append(opt)
          }
        },
        error:function(err){
          console.log(err)
        }
      })
    })
  </script>
  <script>
    $(window).on('load',function(){
      $('#mois').change((e)=>{
        //console.log()
        $.ajax({
          type:'GET',
          url:'/subscription/info/'+document.querySelector('#mois').value,
          data:{
            //mois:$('#mois').value
          },
          success: function( data ){
            //console.log(data)
            document.querySelector('#total').value=data.t+' €';
            document.querySelector('#exp').value=data.d;
          },
          error:function(err){
            console.log(err)
          }
        })
      })
    })
  </script>

  </main><!-- End #main -->

  {% endblock %}
