{% extends 'dashboard/base.html' %}
{% load static %}
  {% block content %}
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/">
          <i class="bi bi-grid"></i>
          <span>TABLEAU DE BORD</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>FICHES</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/etablishment/new" id="nf">
              <i class="bi bi-circle"></i><span>Nouvelle Fiche</span>
            </a>
          </li>
          <li>
            <a href="/etablishment/list/pro/" id='lf'>
              <i class="bi bi-circle"></i><span>Liste</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>ABONNEMENTS</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="#"  id="na">
              <i class="bi bi-circle"></i><span>Nouvel Abonnenment</span>
            </a>
          </li>
          <li>
            <a href="/subscription/list/pro/" id="la">
              <i class="bi bi-circle"></i><span>Liste</span>
            </a>
          </li>
          <li>
            <a href="/payments/pro/" id='tr'>
              <i class="bi bi-circle"></i><span>Transactions</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-envelope"></i><span>MESSAGES</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="#" id='mails'>
              <i class="bi bi-circle"></i><span>Mails</span>
            </a>
          </li>
          <li>
            <a href="#" id="notif">
              <i class="bi bi-circle"></i><span>Notifications</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->

      

      

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" id='prof'>
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" id='faq' class="active">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" id="cgv">
          <i class="bi bi-question-circle"></i>
          <span>C.G.V</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" id="cgu">
          <i class="bi bi-question-circle"></i>
          <span>C.G.U</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>TABLEAU DE BORD</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">F.A.Q</a></li>
          <li class="breadcrumb-item active">pour vous</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    {% comment %} CONTENU {% endcomment %}

    
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">F.A.Q</h5>

          <!-- Default Accordion -->
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Accordion Item #1
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Accordion Item #2
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Accordion Item #3
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div><!-- End Default Accordion Example -->

        </div>
      </div>

    {% comment %} FIN DU CONTENU {% endcomment %}
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script>
      $(window).on('load',function(){
        var uid;
        var nf=document.querySelector('#nf')
        var lf=document.querySelector('#lf')
        var na=document.querySelector('#na')
        var la=document.querySelector('#la')
        var tr=document.querySelector('#tr')
        var mails=document.querySelector('#mails')
        var notif=document.querySelector('#notif')
        var prof=document.querySelector('#prof')
        var faq=document.querySelector('#faq')
        var cgv=document.querySelector('#cgv')
        var cgu=document.querySelector('#cgu')
        //var profile_link=document.querySelector('#prolink')
        uid = localStorage.getItem('userid');
        $.ajax(
        {
          type:"GET",
          url: "/users/pro/"+uid,
          data:{
                   //post_id: catid
          },
          success: function( data ) 
          {
            console.log(data);
            nf.href='/etablishment/new';
            lf.href='/etablishment/list/pro/'+data.id;
            na.href="/subscription/new"
            la.href='/subscription/list/pro/'+data.id;
            tr.href='/payments/pro/'+data.id;
            mails.href='/mails/pro/'+data.id;
            notif.href='/notifications/pro/'+data.id;
            prof.href='/profile/pro/'+data.id;
            faq.href='#';
            cgv.href='/cgv';
            cgu.href='/cgu';
          }
        })
      }
    );
  </script>

  </main><!-- End #main -->

  {% endblock %}
