{% extends 'dashboard/base.html' %}
{% load static %}
  {% block content %}
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/">
          <i class="bi bi-grid"></i>
          <span>TABLEAU DE BORD</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>FICHES</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/etablishment/new" id="nf">
              <i class="bi bi-circle"></i><span>Nouvelle Fiche</span>
            </a>
          </li>
          <li>
            <a href="/etablishment/list/pro/" id='lf'>
              <i class="bi bi-circle"></i><span>Liste</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>ABONNEMENTS</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="#"  id="na">
              <i class="bi bi-circle"></i><span>Nouvel Abonnenment</span>
            </a>
          </li>
          <li>
            <a href="/subscription/list/pro/" id="la">
              <i class="bi bi-circle"></i><span>Liste</span>
            </a>
          </li>
          <li>
            <a href="/payments/pro/" id='tr'>
              <i class="bi bi-circle"></i><span>Transactions</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-envelope"></i><span>MESSAGES</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="#" id='mails'>
              <i class="bi bi-circle"></i><span>Mails</span>
            </a>
          </li>
          <li>
            <a href="#" id="notif">
              <i class="bi bi-circle"></i><span>Notifications</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->

      

      

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" id='prof'>
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" id='faq' class="active">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/cgv" id="cgv">
          <i class="bi bi-question-circle"></i>
          <span>C.G.V</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/cgu" id="cgu">
          <i class="bi bi-question-circle"></i>
          <span>C.G.U</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>TABLEAU DE BORD</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/faq">F.A.Q</a></li>
          <li class="breadcrumb-item active">pour vous</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    {% comment %} CONTENU {% endcomment %}

    
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">F.A.Q</h5>

          <!-- Default Accordion -->
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Comment vont se dérouler les 2 mois d'inscription GRATUITS ?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Sans aucun problème !<br>
                Vous pouvez donc vous inscrire sans engagement. Aucune carte n’est demandée. Vous pourrez ainsi accéder à toutes vos questions en tant que professionnels sans contrepartie !
                En résumé : vous allez vous enregistrer d'ici quelques minutes et IGOguide se chargera de vous envoyer un e-mail lorsqu'arrivera la fin de cette période pour vous demander si vous souhaitez continuer et prendre un ou plusieurs forfaits pour continuer l’aventure ! Tout simplement !
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Dois-je obligatoirement ne m'inscrire que dans une seule catégorie ?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Ah non! IGOguide dit toujours "plus on est de fous, plus on rit!" donc au contraire, variez vos annonces! Le tarif est dégressif. D'autant plus que vous multipliez ainsi la probabilité d'être vu!
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Deux mois d'inscription GRATUITES, qu'est ce que sait?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Dès votre inscription en tant que professionnel sur IGOguide, nous vous proposons deux mois de référencement et de visibilité gratuite. Durant ces deux mois, vous pouvez remplir vos fiches gratuitement qui seront visibles durant les deux mois sur notre site. Nous nous chargerons de vous envoyer un email à la fin de validité de cette période, pour savoir si vous souhaitez continuer l’aventure ou non.
                </div>
              </div>
            </div>
          </div><!-- End Default Accordion Example -->

          <div class="accordion-item">
            <h2 class="accordion-header" id="heading4">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                En quelques clics, devenir partenaire et vivre ensemble une BELLE AVENTURE!
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Sans engagement!<br>
                Bienvenue dans l'univers de IGOguide!<br>
                Ici, on vous propose de l'énergie ! Du peps! L’envie de partager sans jamais s’ennuyer!<br>

                L'idée principale de IGOguide: Se rendre indispensable l’un pour l’autre. L’occasion pour vous de valoriser votre entreprise et pour IGOguide, de vous compter parmi les partenaires et de créer la synergie dont il a besoin!<br>

                L’annonce est gratuite pendant 2 mois, pour l’essayer. Vous êtes référencé sur IGOguide.com et le référencement Google est pris en compte aussi! Nous mettons en valeur votre région, votre catégorie voir votre établissement ou activité à travers nos réseaux sociaux, notre blog et toutes sortes de supports payants pour être visibles. Tout est mis en place pour vous chouchouter.<br>

                VOTRE ANNONCE EST ACTIVE...<br>
                Votre visibilité sur la plateforme est lancée et votre référencement sur Google aussi!<br>

                BIENVENUE sur IGOguide! 

              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="heading5">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
              Est ce que je peux créer une fiche et ne rien régler?
            </button>
          </h2>
          <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Tout à fait! IGOguide préfère vous laisser essayer et si vous êtes satisfait, vous resterez avec lui dans l’aventure! Et si ce n’est pas le cas, vous partiez ni vu ni connu!
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="heading6">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
            Les CGV vous expliquent nos engagements mutuels!
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Vous avez accès à tout heure et tout moment à vos CGV depuis votre tableau de bord. Il vous aide à mieux comprendre le rôle de chacun. Celui de la plateforme IGOguide ou du vôtre, mais aussi ce à quoi ont accès vos futurs clients et leurs possibilités pour vous trouver et entrer en contact!
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="heading7">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
          LES PHOTOS: aide au redimensionnement
        </button>
      </h2>
      <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Une image vaut mille mots<br>

          <ol>
            <li>Vos photos peuvent être intégrées sans problème jusqu’à 1 Mo. </li>
            (A titre d’information, 1 méga-octets (Mo) correspond à 1024 ko. Ce poids représente la quantité de mémoire nécessaire pour stocker une image non compressée.) 
            <li>Ne vous inquiétez pas, tout se fait tout seul!</li>
            <li>Si, à tout hasard, vous rencontriez un problème de redimension de votre photo, utilisez les sites ci-dessous</li>
            <a href="https://bulkresizephotos.com/fr">https://bulkresizephotos.com/fr</a><br>
            Redimensionnement Simple Image
            Faites glisser-déposer. Cliquez sur. Terminé.<br>
            <a href="https://tinypng.com/">https://tinypng.com/</a>
            TinyPNG utilise des techniques de compression intelligentes avec perte pour réduire la taille de vos fichiers PNG.
          <ol>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="heading8">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Remplir sa fiche IGOguide, rien de plus facile!
      </button>
    </h2>
    <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Chaque fiche représente une attente du client… Il faut s’en approcher le plus possible…Et donc IGOguide vous donne quelques astuces…<br>
        <strong>Pour présenter plusieurs activités, vous pouvez faire plusieurs fiches!</strong><br>
        Lors de la description, vous pouvez éventuellement évoquer vos activités proposées en parallèle ( exemple “massages possible” “vélo” ) mais sans en faire de description.
        Pour cela vous devez souscrire à un forfait supplémentaire qui présentera votre activité. C’est aussi pour cela que les forfaits sont très attractifs car cela vous permet de développer votre établissement sur plusieurs fiches en fonction de vos activités.
        <ol>
          <li><strong>Exemple 1 :</strong>  vous avez des cabanes insolites. 
            Votre structure en compte plusieurs. Vous ne pouvez en présenter qu’une seule à la fois avec les photos et la description qui s’y rapporte. Mais bien sûr, vous avez la possibilité de faire plusieurs fiches .
          </li>
          <li><strong>Exemple 2:</strong> vous avez un gîte (qui peut, par choix, être les cabanes insolites avec une vue générale)
            Vous le présentez dans son ensemble et non réellement chaque chambre.
            </li>
          <li><strong>Exemple 3:</strong> vous avez un hôtel
            Vous avez la possibilité de le présenter dans son ensemble avec la photo d’une chambre qui représente les autres en général ou de présenter chaque chambre car elles sont toutes différentes, en faisant plusieurs fiches 
            </li>
          <li><strong>Exemple 4:</strong> vous avez un restaurant
            Présentez-le dans sa globalité 
            </li>
          <li><strong>Exemple 5:</strong> vous avez un restaurant qui fait bar
            Vous pouvez présenter chacun dans son domaine d’activité avec 2 fiches
            </li>
        </ol>
        <strong>La description dans votre fiche: les petits conseils qui aident au référencement sur IGOguide mais aussi sur Google</strong><br>
        Chaque fiche représente une attente du client… dans son texte et ses photos.
        Il est très important de structurer votre fiche. Il est primordial de mettre les photos et le texte de votre établissement ou tout du moins, ce que vous souhaitez présenter. 
        Ne mettez pas un ensemble de choses qui n’ont rien à voir les unes avec les autres. 
        Il est préférable qu’elle soit simple mais pertinente que longue, pleine de détails et finalement brouillon.<br>

        Pensez toujours à vos clients potentiels. Ce sont eux qui font les recherches et non vous…
        <ol>
          <li>Il faut donc que vous décriviez votre atout ( chambre, activité…) dans votre établissement selon leurs attentes et non comme vous, vous le percevez.</li>
          <li>Mettez-y de la créativité</li>
          <li>Chaque description doit autant que possible comporter 3 à 4 paragraphes pour être pris en compte dans les algorithmes</li>
        </ol>
        <strong>Exemple avec une chambre d'hôte:</strong>
        <ol>
          <li>D’abord présenter la chambre dans laquelle va dormir votre client. </li>
          <li>Pour ensuite faire la présentation du domaine</li>
          <li>Éventuellement faire l’historique du bâtiment si cela se présente comme une plus value</li>
          <li>Pour finir sur les activités à faire alentours avec le nom des villes et éventuellement la notion de distance et de temps</li>
          <li>Les termes utilisés doivent être à la 3ème personne (on y trouve… se situe…)</li>
        </ol>
        <strong>Chaque description ne doit pas :</strong>
        <ol>
          <li>Utiliser de termes élogieux ( unique en son genre… la plus belle…)</li>
          <li>Comporter des  détails à priori logiques ou signalés par les icônes (lits confortables, petits déjeuners inclus)</li>
        </ol>
        <strong>Mettez de belles photos</strong>
        Ne pas oublier de nommer vos photos: chaque photo nommée de façon pertinente à l’aide d’une phrase courte et simple permettra un référencement naturel plus aisé. 
        Exemple: le nom + fonction + lieu (ville, département ou région)
        <strong>A vos marques? Prêt? Référencez!!</strong>
      </div>
    </div>
  </div>
</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="heading9">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
      Gratuité pendant 2 mois
    </button>
  </h2>
  <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      La Plateforme IGOguide propose un essai gratuit de 2 mois lors de la création d’une fiche. Passé ce délai, la fiche est retirée de la Plateforme IGOguide si aucun forfait n’a été choisi et réglé pour prolonger la visibilité de celle-ci.
      <strong>Les forfaits</strong>
      Le prix s’entend en euros et hors taxes.
      Le paiement s’effectue par paiement sécurisé en ligne chaque année.
      En cas de retard de paiement, les annonces seront désactivées.
      
      <strong>a-</strong>La deuxième année d’une fiche.
      <ul>
        <li>Une seule fiche:</li>
        49€ HT pour une fiche 
        <li>Un pack pour 3 fiches:</li>
        1ere fiche:	49€ HT<br> 
        2em fiche: 49€ HT - 30% soit 34,30€ HT<br>
    		3em fiche:  offert <br>
		    TOTAL DU PACK: 83,30€ HT pour 3 fiches
      </ul>
      <strong>b-</strong>La deuxième année d’une fiche.<br>
      Au renouvellement, les fiches sont proposées au tarif de 49€HT /fiche pour 12 mois. 
      Des promotions peuvent être mises en place pour permettre au “Partenaire” de bénéficier de tarifs préférentiels.

      <strong>Renouvellement</strong><br>
      Les forfaits ne se renouvellent pas automatiquement. 
      Les professionnels “Partenaires” sont invités lors de mails de relance à renouveler leur(s) forfait(s) afin de bénéficier et de conserver les avantages de la visibilité.<br>

      <strong>Les options de visibilité</strong><br>
      Des options de visibilités supplémentaires peuvent être proposées pour permettre aux “Partenaires”de promouvoir leur établissement ou activité. 
      Ils varient suivant les stratégies de communication de la société IGOgroup et sont proposées au moment d’une souscription à un forfait, en supplément, sans caractère obligatoire ou encore lors de promotions
      Ils peuvent être aussi proposés dans les mailings afin de tenir informés les partenaires de cette possibilité.
      Ils seront tenus à jour dans le “FAQ pros” du tableau de bord des “Partenaires” afin que ceux-ci puissent y souscrire à tout moment s’ils en étaient intéressés.
    </div>
  </div>
</div>
</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="heading10">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
      Un contact?
    </button>
  </h2>
  <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      En tant que partenaire de la plateforme, vous n’aurez aucun besoin d’entrer en contact avec IGOguide!<br>

      Vos fiches se créent seules, vous choisissez vos mots-clés, vous choisissez vos forfaits et éventuellement les options.<br>

      Ensuite vos clients entrent directement en contact avec vous. IGOguide ne leur prend aucune commission, il ne leur sert que de guide..<br>

      Néanmoins, l’IGOteam est ouverte à toute question que vous vous poseriez!<br>

      Vous pouvez donc la contacter sur support@igoguide.com
    </div>
  </div>
</div>
</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="heading11">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
      Comment votre futur client vous trouve et entre en contact avec vous?
    </button>
  </h2>
  <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      Après avoir navigué avec tous les outils mis en place pour qu’il vous trouve le plus facilement: 
      la barre de recherche, les catégories, les sous-catégories, les cartes des départements ou encore la liste des régions, votre client trouve les informations sur votre fiche et vous contacte directement.
      IGOguide ne prend aucune commission et ne sert pas d’intermédiaire.<br>
      Plusieurs solutions sont mis en place sur IGOguide pour qu’il se mette en relation avec vous:
      <ul>
        <li>Votre fiche descriptive et vos photos qui vont lui donner l’eau à la bouche</li>
        <li>Tous vos atouts cochés dans la fiche à remplir qu’il retrouvera dans la barre de recherche de l’accueil</li>
        <li>Votre numéro de téléphone</li>
        <li>Le mail: vous recevrez un mail de votre client qui viendra de la part d’IGOguide</li>
        <li>Votre géolocalisation</li>
        <li>Le lien de votre site internet</li>
        <li>Vos réseaux sociaux</li>
      </ul>
    </div>
  </div>
</div>
</div>

        </div>
      </div>

    {% comment %} FIN DU CONTENU {% endcomment %}
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script>
      $(window).on('load',function(){
        var uid;
        var nf=document.querySelector('#nf')
        var lf=document.querySelector('#lf')
        var na=document.querySelector('#na')
        var la=document.querySelector('#la')
        var tr=document.querySelector('#tr')
        var mails=document.querySelector('#mails')
        var notif=document.querySelector('#notif')
        var prof=document.querySelector('#prof')
        var faq=document.querySelector('#faq')
        var cgv=document.querySelector('#cgv')
        var cgu=document.querySelector('#cgu')
        //var profile_link=document.querySelector('#prolink')
        uid = localStorage.getItem('userid');
        $.ajax(
        {
          type:"GET",
          url: "/users/pro/"+uid,
          data:{
                   //post_id: catid
          },
          success: function( data ) 
          {
            console.log(data);
            nf.href='/etablishment/new';
            lf.href='/etablishment/list/pro/'+data.id;
            na.href="/subscription/new"
            la.href='/subscription/list/pro/'+data.id;
            tr.href='/payments/pro/'+data.id;
            mails.href='/mails/pro/'+data.id;
            notif.href='/notifications/pro/'+data.id;
            prof.href='/profile/pro/'+data.id;
            faq.href='#';
            cgv.href='/cgv';
            cgu.href='/cgu';
          }
        })
      }
    );
  </script>

  </main><!-- End #main -->

  {% endblock %}
